<% if @article.errors.any? %> 
  <h1>The following errors have prevented the article from being saved</h1>
  <% @article.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
<% end  %>

<%= form_with(model: @article, local: true) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.collection_select(:category_ids, Category.all, :id, :name, { prompt: "Make your selection from the list below" }, { multiple: true, size: 3, class: "custom-select shadow rounded" }) %>
  </p>
  <%= f.submit %>
<% end %>

